.card-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin template-card{
    @extend .card;
    @include animation(
                        $id: 'card-login',
                        $animation: 'pulse',
                        $duration: 2,
                        $delay: 8,
                        $animation-iteration-count: infinite,
                        $animation-timing-function: ease,
                        $delay-position: 'end'
                    );
                    
    
    background-color: map-get($map: $theme-colors, $key: 'light');
    width: 500px;
    padding: 2rem 1rem 2rem 1rem;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    a, h1, h2, h3, h4, h5, h6{
        margin-bottom: 1rem;
        color: map-get($map: $theme-colors, $key: 'dark');
    }

    &-cadastro{
        display: block;
    }

    &::before{
        content: "";
    }
    &::after{
        content: "";
    }

}

.card-login{
    @include template-card();
    .logo{
        @extend .shadow-lg;
        max-width: 200px;
        max-height: 200px;
        border-radius: 100px;
        border: solid map-get($map: $theme-colors, $key: 'dark') 3px;

        @include animation(
                            $id: 'card-login-logo',
                            $animation: 'shake-shake',
                            $duration: 1,
                            $delay: 9,
                            $animation-iteration-count: infinite,
                            $animation-timing-function: ease,
                            $delay-position: 'end'
                        );
    }
    form{
        width: 250px;
    }
}

.card-cadastro{
    @include template-card();
}