@import "../bootstrap/scss/functions"; 
@import "../bootstrap/scss/variables";

$primary: #717533;
$secondary: #ac311b;
$tertiary: #585642;
$light-gray: #A3A192;
$success: #368f19;
$danger: #9a0808;
$dark: #170f0d;

$min-contrast-ratio: 10;


$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "light": $light-gray,
  "success": $success,
  "danger": $danger,
  "dark": $dark,
));

@import "../bootstrap/scss/bootstrap";