@import "../bootstrap/scss/functions"; 
@import "../bootstrap/scss/variables";

$primary: #717533;
$secondary: #412925;
$tertiary: #864E63;
$light-gray: #A3A192;
$success: #368f19;
$danger: #7E2E29;
$dark: #170f0d;

$min-contrast-ratio: 2;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "light": $light-gray,
  "success": $success,
  "danger": $danger,
  "dark": $dark,
));

@import "../bootstrap/scss/bootstrap";