body{
    @extend .text-white;
    background-color: map-get($map: $theme-colors, $key: 'dark');
}

a{
    color: map-get($map: $theme-colors, $key: 'dark')
}

button{
    @extend .btn;
    @extend .btn-primary;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    .form-fields{
        width: 100%;
        margin-bottom: 2rem;
    }
    .field-group{
        label{
            @extend .form-label;
        }
        input{
            @extend .form-control;
        }
        select{
            @extend .form-select;
        }
        .help-text{
            @extend .form-text;
        }
    }
    button{
        @extend .rounded-pill;
        width: 250px;
    }
}